<main class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Task</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">01-jan-24</th>
                <td>Get Groceries</td>
                <td>No Action</td>
            </tr>
            <tr>
                <th scope="row">02-jan-24</th>
                <td>Work Out</td>
                <td>No Action</td>
            </tr>
        </tbody>
    </table>
</main>